<included>

  <!-- for debugging, these are recommended in addition to logback-cloudera.xml --> 
  <include resource="brooklyn/logback-debug.xml"/>

  <!-- include things in the Brooklyn ecosystem from Cloudsoft -->
  <logger name="io.cloudsoft" level="DEBUG"/>

  <!-- include everything in this project at debug level -->
  <logger name="io.cloudsoft.cloudera" level="DEBUG"/>    
    
</included>
